.header{
    width: 800px;
    height: 40px;
    background-color: aqua;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.header a{
    color: #1a00d0;
    font-weight: bold;
    text-decoration: none;
}