.nav{
    width: 800px;
    background-color: antiquewhite;
    box-sizing: border-box;
    padding: 10px;
}
.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.nav li{
    padding: 4px;
    margin-right: 10px;
}
.nav li a{
    color: #000;
    font-size: 20px;
    text-decoration: none;
}
.nav li a.active{
    text-decoration: underline;
}